body {
  margin: 0;
  width:100vw;
  height:100vh;
  overflow-x: hidden;
  background-image: url("../public/work.jpg");
  background-size: contain;
  background-repeat: repeat ;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.rbc-event-content {
 white-space: pre-line;
  

}

